{% extends 'base/base.html'%}

{%block content%}

<div class="table-responsive">
<table class="table">
  <thead>
    <td> # id </td>
    <td> Name </td>
    <td> Genre </td>
    <td> Age </td>
    <td> Rescue Date </td>
    <td> Owner </td>
  </thead>
  <tbody>
    {% if pets %}
      {% for pet in pets %}
        <tr>
          <td>{{pet.id}}</td>
          <td>{{pet.name}}</td>
          <td>{{pet.genre}}</td>
          <td>{{pet.age}}</td>
          <td>{{pet.rescue_date}}</td>
          <td>{{pet.owner.name}}</td>
        </tr>
      {% endfor %}
    {% else %}
      <h2>There is no registers </h2>
    {% endif %}
  </tbody>
</table>
</div>
{% endblock %}
