{% load staticfiles%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% block extrahead %}
  {% endblock %}
  <title>{% block title %} Document {% endblock%}</title>
</head>
<body>
  {% block header %}
    {% include 'base/header.html'%}
  {% endblock %}


  {% block content %}
    <h4> Content </h4>
  {% endblock %}

  {% block footer %}
    <h4> I'm the footer </h4>
  {% endblock %}

  {% block extrajs %}
  {% endblock %}
</body>
</html>
